@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	transition: all .5s;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto 0 auto;
}

.clearfix {
  clear:both;
}

.column-2-12 {
  width: 16.66%;
}

.column-3-12 {
  width: 25%;
}

.column-4-12 {
  width: 33.33%;
}

.column-5-12 {
  width: 41.66%;
}

.column-6-12 {
  width: 50%;
}

.column-9-12 {
  width: 75%;
}

.column-10-12 {
  width: 83.33%;
}

.offset-2-12 {
	margin-left: 16.66%;
}

.right {
  float:right;
}

.left {
  float:left
}

.centered {
  float: none;
  margin: 0 auto;
}

h2 {
	font-family: Amatic;
	font-size: 40px;
	padding-bottom: 50px;
}

.body1 {
	font-family: Ropa Sans, sans-serif;
	font-size: 14px;
}

.body2 {
	font-family: Ropa Sans, sans-serif;
	font-size: 12px;
}

#navigation {
	position: fixed;
	top: 0;
}

li a {
	text-decoration: none;
	color: white;
	font-family: Amatic;
	list-style-type: none;
	font-size: 24px;
	
}

header {
	overflow:auto;
  	background:black;
  	position:fixed;
	height: 100%;
  	margin-left: auto;
	margin-right: auto;
  	z-index:1;
}

.page-links {
	line-height: 50px;
	margin-right: 50px;
	text-align: right;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	margin-right: -40px;
	margin-left: 10px;
}

#home img {
	width: 100%;
}

.hidden-desktop {
	display:none;	
}

#about {
	overflow: auto;
}

.img-whole img {
	width: 100%;
	padding-top:50px;
}

.about-right {
	float: right;
	overflow: auto;
	clear: both;
}

.about-left {
	float: left;
	overflow: auto;
	clear: both;
}

.rev-reg {
	float: right;
}

#roasts {
	padding-top: 50px;
}

#roasts h2 {
	padding-bottom: 100px;
}

.roast-packages {
	float: left;
	width: 100;
}

.roast-package {
	  float: left;
	  width: 50%;
}

.roast-spec {
	float: left;
	width: 50%;
}

.roast-specs {
	float: left;
	width: 100%;
}

.column-roasts {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 100px 100px 100px;
}

.column-specs {
	width: 50%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0 0 75px 110px;
}

.column-spec {
	width: 50%;
	padding-left: 20px;
	padding-top: 15px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.specs {
	line-height: 25px;
	font-family: Ropa Sans, sans-serif;
}

.column-roasts a {
	float: left;
	position: relative;
	visibility: visible;	
}
  
.column-roasts a .roast-content {
	display: none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	color: black;
	padding: 50px 50px 0 50px;
	color: black;
	font-size:14px;
	font-family:Ropa Sans, sans-serif;
	background-color:white;
}

.column-roasts a: hover {
	background-color: white;
	opacity: 1;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.column-roasts a:hover .roast-content {
	display: block;
	color: black;
	background-color:white;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.order-button {
	width: 150px;
	height: 50px;
	margin: auto;
	overflow:auto;
	float: right;
	background: black;
	margin-bottom: 50px;
	padding: 15px 0 0 80px;
}

.order-button a {
	border: 0;
	color: white;
	background: transparent;
	font-family: Amatic;
	font-size: 24px;
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
}

.order-button:hover {
	background: #444343;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.order-button a:hover {
	background: transparent;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}


  
#contact {
	height:150px;
	background: #dadada;
	overflow: auto;
	font-family: Ropa Sans, sans-serif;
	padding-top: 20px;
}

#contact li {
	text-decoration: none;
}


#news-feed {
	z-index: 0;
}

.block-media {
	width: 50%;
	float: left;
	margin-top: 0;
}

.block-media a {
	float: left;
	position: relative;
	visibility: visible;	
}
  
.block-media a .media-icon {
	display: none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: white;
	padding: 20px;
}

.block-media a:hover {
	background-color: white;
	opacity: 1;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.block-media a:hover .media-icon {
	display: block;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.media-icon img{
	  padding-left: 260px;
	  padding-top: 270px;
}

#footer {
	background: #dadada;
	overflow: auto;
	font-family: Ropa Sans, sans-serif;
}

.column-footer {
	width: 30%;
	float: left;
	padding-left: 30px;
	margin-bottom: 50px;
	margin-top: 100px;
}

.subscribe {
	float: left;
	width: 70%;
	border: 1px solid #000000;
	margin: auto;
	overflow:auto;
	clear:right;
}
.subscribe input {
	padding: 7px 0 5px 10px;
	float: left;
	border: 0;
	width: 80%;
	font-size:14px;
	color: black;
	background: #dadada;
}

.subscribe button {
	font-size: 12px;
	width: 10%;
	float: right;
	border: 0;
	padding: 5px 10px 5px 0;
	color: black;
	background: #dadada;
}

.brew-link {
	width: 100%;
	overflow:auto;
	padding-top: 20px;
}

.map {
	padding-left: 50px;
	padding-top: 20px;
}

.legal {
	padding-top: 20px;
}



@media only screen and (max-width: 700px) {
  [class*='column-'] {
  width:100%;
  }
  
  [class*='offset-'] {
  margin-left:0;
  }
  
  h2 {
	  padding-top: 50px;
	  padding-bottom: 50px;
  }
  
  #navigation {
	position: fixed;
	top: 0;
	z-index: 1;
  }

  header {
	overflow:auto;
  	background:black;
  	position:fixed;
	height: 100%;
  	margin-left: auto;
	margin-right: auto;
  	z-index:1;
  }
  
  .intro .home-pic {
	  display:none;
  }
  
  .column-2-12 {
  width: 16.66%;
  }
  
  .column-10-12 {
  width: 83.33%;
  }
  
  .offset-2-12 {
	margin-left: 16.66%;
  }
  
  body {
	margin: 0 auto;
  }

  .wrapper {
	max-width: 400px;
	margin: 0 auto 0 auto;
  }

  .clearfix {
  	clear:both;
  }
  
  .logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	margin-right: -40px;
	margin-left: 10px;
	width: 80%;
  }
  
  .page-links {
	  margin-left: -15px; 
  }
  
  .page-links a{
	  font-size: 18px;
  }
  
  .img-whole img {
	width: 100%;
	padding-top:50px;
  }
  
  .hidden-mobile {
	display:none;  
  }
  
  .visible-mobile {
	display:inline;
  }
  
  #about {
	  z-index: 2;
  }
  
  #contact {
	  height: 130px;
  }
  
  #roasts {
	  height: 1400px;
  }
  
  #roasts h2 {
	  padding-bottom: 100px;
  }
  
  
  .roast-package {
	  float: left;
	  width: 50%;
	  padding-bottom: 100px;
  }
  
  .roast-packages {
	  width: 100%;
  }
  
  .package {
	  width: 179px;
	  height: 247px;
  }
  
  .roast-spec {
	  float: right;
	  width: 50%;
  }
  
  .roast-specs {
	  width: 100%;
	  padding: 50px 0 50px 0;
  }
  
  .column-specs {
	  width: 50%;
	  padding: 10px 0 30px 10px;
  }
  
  .specs {
	  margin: -16px 0 -16px 0;
  }
  
  .column-roasts {
	  padding: 0 0 0 0;
	  width: 50%;
  }
  
  .column-roasts a {
	float: left;
	position: relative;
	visibility: visible;	
  }
  
  .column-roasts a .roast-content {
	display: none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	color: black;
  }
  .column-roasts a:hover {
	background-color: white;
	opacity: 1;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
  }
  .column-roasts a:hover .roast-content {
	display: block;
	color: black;
	background-color: white;
	padding: 30px 30px 0 30px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
  }
  
  .block-media {
  	  width: 100%;
	  margin-top: 0;
  }
  
  .block-media a:hover {
	opacity: .3;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
  }
  
  .block-media a: hover img {
	  opacity: none;
  }
  
  .media-icon img{
	  padding-left: 270px;
	  padding-top: 270px;
  }
  
  .column-footer {
	width: 25%;
	float: left;
	padding-left: 25px;
	margin-bottom: 50px;
	margin-top: 50px;
  }
  
  .map {
	  padding-left: 10px;
  }
  
  .legal {
	  padding-left: 40px;
  }
 
}