@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto 0 auto;
}

.clearfix {
  clear:both;
}

.column-2-12 {
  width: 16.66%;
}

.column-3-12 {
  width: 25%;
}

.column-4-12 {
  width: 33.33%;
}

.column-5-12 {
  width: 41.66%;
}

.column-6-12 {
  width: 50%;
}

.column-9-12 {
  width: 75%;
}

.offset-2-12 {
	margin-left: 16.66%;
}

.right {
  float:right;
}

.left {
  float:left
}

.centered {
  float: none;
  margin: 0 auto;
}

#navigation {
	position: fixed;
}

header {
	overflow:auto;
  	background:black;
  	position:fixed;
	height: 100%;
  	margin-left: auto;
	margin-right: auto;
  	z-index:1;
}

.page-links {
	line-height: 50px;
	margin-right: 50px;
	text-align: right;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	margin-right: -40px;
	margin-left: 10px;
}

#about {
	height: 650px;
}

.r-r {
	float: right;
}

#roasts {
	height: 650px;
}

#news-feed {
	height: 1200px;
}

.icon-row {
	padding-top: 125px;
	padding-bottom: 125px;
}

.column-roasts {
	width: 20%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding:0 12.5px 0 12.5px;
}

.column-specs {
	width: 20%;
	float: left;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding:0 12.5px 0 12.5px;
}

.specs {
	line-height: 25px;
}

.column-footer {
	width: 30%;
	float: left;
	padding-right: 20px;
}